@page
@model TeamSyncWorkspace.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container is-fluid">
    <div class="columns is-centered mt-6">
        <div class="column is-5">
            <div class="box has-shadow">
                <div class="p-5 has-text-centered">
                    <h1 class="title is-3 mb-5">@ViewData["Title"]</h1>

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="has-text-danger mb-3"></div>

                        <div class="field">
                            <label asp-for="Input.Email" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input asp-for="Input.Email" class="input" autocomplete="email" placeholder="name@example.com" />
                                <span class="icon is-small is-left">
                                    <i class="bi bi-envelope"></i>
                                </span>
                            </div>
                            <span asp-validation-for="Input.Email" class="help is-danger"></span>
                        </div>

                        <div class="field mt-5">
                            <div class="control">
                                <button type="submit" class="button is-info is-fullwidth">Send Password Reset Link</button>
                            </div>
                        </div>
                    </form>

                    <div class="mt-5 has-text-centered">
                        <p>
                            <a asp-page="./Login" class="has-text-info">Back to Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>