@page
@model TeamSyncWorkspace.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="container is-fluid">
    <div class="columns is-centered mt-6">
        <div class="column is-5">
            <div class="box has-shadow">
                <div class="p-5 has-text-centered">
                    <h1 class="title is-3 mb-5">@ViewData["Title"]</h1>
                    <p>If an account with the provided email exists, a password reset link has been sent.</p>
                    <p>
                        <a asp-page="./Login" class="has-text-info">Back to Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>