@page
@model TeamSyncWorkspace.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container is-fluid">
    <div class="columns is-centered mt-6">
        <div class="column is-5">
            <div class="box has-shadow">
                <div class="p-5 has-text-centered">
                    <h1 class="title is-3 mb-5">@ViewData["Title"]</h1>

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="has-text-danger mb-3"></div>

                        <input type="hidden" asp-for="Input.Email" />
                        <input type="hidden" asp-for="Input.Token" />

                        <div class="field">
                            <label asp-for="Input.Password" class="label">New Password</label>
                            <div class="control has-icons-left">
                                <input asp-for="Input.Password" class="input" autocomplete="new-password" />
                                <span class="icon is-small is-left">
                                    <i class="bi bi-lock"></i>
                                </span>
                            </div>
                            <span asp-validation-for="Input.Password" class="help is-danger"></span>
                        </div>

                        <div class="field">
                            <label asp-for="Input.ConfirmPassword" class="label">Confirm Password</label>
                            <div class="control has-icons-left">
                                <input asp-for="Input.ConfirmPassword" class="input" autocomplete="new-password" />
                                <span class="icon is-small is-left">
                                    <i class="bi bi-lock"></i>
                                </span>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="help is-danger"></span>
                        </div>

                        <div class="field mt-5">
                            <div class="control">
                                <button type="submit" class="button is-info is-fullwidth">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>